<!DOCTYPE html>
<html>

<head>
    <title>CryptoAtm</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="assets/js/ethers-5.2.umd.min.js" type="application/javascript"></script>
    <script src="assets/js/vue.min.js"></script>

    <style>
        #overlay {
            background: #CDCDCD;
            color: #ffffff;
            position: fixed;
            height: 100%;
            width: 100%;
            z-index: 5000;
            top: 0;
            left: 0;
            float: left;
            text-align: center;
            padding-top: 25%;
            opacity: 0.6;
            filter: alpha(opacity=40);
        }
    </style>
</head>

<body>
    <div class="container py-3" id="app">
        <h1>Welcome to Crypto ATM</h1>
        <h5 class="overflow-hidden my-3">Contract Address: <a target="_blank" v-bind:href="atmContractUrl()">{{contractAddr}}</a></h5>
        <form class="row g-3">
            <div class="col-auto">
              <div v-if="signer === null">
                <button type="button" class="btn btn-primary mb-3" v-on:click.prevent="connectMetaMask()">Connect MetaMask...</button>
              </div>
              <div v-else>
                Connected User Address: {{signerAddr}}
              </div>
            </div>
        </form>

        <div v-if="output.isVisible" v-bind:class="[output.alertClass, output.colorClass]" role="alert">
            {{output.message}}
        </div>
        
        <ul v-if="signer !== null" class="nav nav-tabs mt-1" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="eth-tab" data-bs-toggle="tab" data-bs-target="#eth" type="button" role="tab" aria-controls="eth" aria-selected="true">
                  ETH</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="link-tab" data-bs-toggle="tab" data-bs-target="#link" type="button" role="tab" aria-controls="link" aria-selected="false">
                  LINK
              </button>
            </li>
          </ul>
          <div v-if="signer !== null" class="tab-content" id="myTabContent">
            <div class="py-3 tab-pane fade show active" id="eth" role="tabpanel" aria-labelledby="eth-tab">
                <div class="row my-2">
                    <div class="col-auto">Current Price: </div>
                    <div class="col-auto"><div class="col-auto"><span class="badge bg-info fs-6 p-1">USD {{ formatPrice(ethPriceUsd) }}</span></div></div>
                </div>
                <div class="row my-2">
                    <div class="col-auto">Your Balance in ATM: </div>
                    <div class="col-auto">{{ formatBalance(ethBalance) }} <span class="badge bg-info fs-6 p-1">USD {{ethBalanceUsd}}</span></div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-auto">
                        Amount:
                    </div>
                    <div class="col-auto">
                        <input v-model="ethAmount" type="number" class="form-control" placeholder="Amount in wei" />
                    </div>
                    <div class="col-auto">
                        <select class="form-select" v-model="ethUnit">
                            <option selected value="eth">ETH</option>
                            <option selected value="gwei">Gwei</option>
                            <option selected value="wei">wei</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-danger" v-on:click.prevent="withdrawEth()">Withdraw ETH</button>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-success" v-on:click.prevent="depositEth()">Deposit ETH</button>
                    </div>
                </div>
            </div>
            <div class="py-3 tab-pane fade" id="link" role="tabpanel" aria-labelledby="link-tab">
                <div class="row my-2">
                    <div class="col-auto">Current Price: </div>
                    <div class="col-auto"><span class="badge bg-info fs-6 p-1">USD {{ formatPrice(linkPriceUsd) }}</span></div>
                </div>
                <div class="row my-2">
                    <div class="col-auto">Your Balance in ATM: </div>
                    <div class="col-auto">{{ formatBalance(linkBalance) }} 
                        <span class="badge bg-info fs-6 p-1">USD {{linkBalanceUsd}}</span>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-auto">
                        <input v-model="linkAmount" type="number" class="form-control" placeholder="Amount" />
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-danger" v-on:click.prevent="withdrawLink()">Withdraw LINK</button>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-success" v-on:click.prevent="depositLink()">Deposit LINK</button>
                    </div>
                </div>
            </div>
          </div>

          <div v-if="isLoading" id="overlay">
            <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <div class="spinner-grow text-secondary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <div class="spinner-grow text-success" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
        </div> 
          
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                ethPriceUsd: 0,
                linkPriceUsd: 0,
                PRICEDEC: 8,    // Price decimals

                provider: null,
                signer: null,
                signerAddr: '???',

                linkContractObj: null,
                linkContractAddr: '0x01BE23585060835E02B77ef475b0Cc51aA1e0709',
                linkContractAbi: [
                    'function approve(address spender, uint256 amount) external returns (bool)',
                    'function transfer(address recipient, uint256 amount) external returns (bool)'
                ],

                contractObj: null,
                contractAddr: '0x058cd21B316542aABc41349545CeA5e9D0C167e3',
                contractAbi: [
                    {
                        "inputs": [],
                        "stateMutability": "nonpayable",
                        "type": "constructor"
                    },
                    {
                        "inputs": [],
                        "name": "depositEth",
                        "outputs": [],
                        "stateMutability": "payable",
                        "type": "function"
                    },
                    {
                        "inputs": [
                            {
                                "internalType": "uint256",
                                "name": "_amount",
                                "type": "uint256"
                            }
                        ],
                        "name": "depositLink",
                        "outputs": [],
                        "stateMutability": "nonpayable",
                        "type": "function"
                    },
                    {
                        "inputs": [],
                        "name": "getEthPriceInUsd",
                        "outputs": [
                            {
                                "internalType": "int256",
                                "name": "",
                                "type": "int256"
                            }
                        ],
                        "stateMutability": "view",
                        "type": "function"
                    },
                    {
                        "inputs": [],
                        "name": "getLinkPriceInUsd",
                        "outputs": [
                            {
                                "internalType": "int256",
                                "name": "",
                                "type": "int256"
                            }
                        ],
                        "stateMutability": "view",
                        "type": "function"
                    },
                    {
                        "inputs": [
                            {
                                "internalType": "address",
                                "name": "_userAddr",
                                "type": "address"
                            }
                        ],
                        "name": "getUserEthBalance",
                        "outputs": [
                            {
                                "internalType": "uint256",
                                "name": "",
                                "type": "uint256"
                            }
                        ],
                        "stateMutability": "view",
                        "type": "function"
                    },
                    {
                        "inputs": [
                            {
                                "internalType": "address",
                                "name": "_userAddr",
                                "type": "address"
                            }
                        ],
                        "name": "getUserLinkBalance",
                        "outputs": [
                            {
                                "internalType": "uint256",
                                "name": "",
                                "type": "uint256"
                            }
                        ],
                        "stateMutability": "view",
                        "type": "function"
                    },
                    {
                        "inputs": [
                            {
                                "internalType": "uint256",
                                "name": "_amount",
                                "type": "uint256"
                            }
                        ],
                        "name": "withdrawEth",
                        "outputs": [],
                        "stateMutability": "nonpayable",
                        "type": "function"
                    },
                    {
                        "inputs": [
                            {
                                "internalType": "uint256",
                                "name": "_amount",
                                "type": "uint256"
                            }
                        ],
                        "name": "withdrawLink",
                        "outputs": [],
                        "stateMutability": "nonpayable",
                        "type": "function"
                    }
                ],

                ethBalance: 0,
                ethBalanceUsd: 0,
                ethAmount: 0,
                ethUnit: "eth",

                linkBalance: 0,
                linkBalanceUsd: 0,
                linkAmount: 0,

                output: {
                    isVisible: false,
                    message: 'Sampel output',
                    alertClass: 'alert',
                    colorClass: 'alert-secondary'
                },

                isLoading: false

            },
            mounted: function() {
                this.provider = new ethers.providers.Web3Provider(window.ethereum);
                this.contractObj = new ethers.Contract(this.contractAddr, this.contractAbi, this.provider);
                this.loadBalanceValue();
                ethereum.on('accountsChanged', (accounts) => {
                    console.log('account changed');
                    location.reload();
                });
            },
            methods: {
                atmContractUrl: function() {
                    return 'https://rinkeby.etherscan.io/address/' + this.contractAddr;
                },
                formatBalance: function(bigNumber) {
                    return ethers.utils.formatEther(bigNumber);
                },
                ethAmountInWei: function() {
                    let amtInWei = 1;
                    switch(this.ethUnit) {
                        case 'eth':
                            amtInWei = ethers.utils.parseUnits(this.ethAmount, "ether");
                        break;
                        case 'gwei':
                            amtInWei = ethers.utils.parseUnits(this.ethAmount, "gwei");
                        break;
                        case 'wei':
                            amtInWei = this.ethAmount;
                        break;
                    }
                   
                    return amtInWei;
                },
                formatPrice: function (bigNumber) {
                    return bigNumber === 0 ? 0 :bigNumber.toString();
                },
                loadBalanceValue: async function() {
                    if(this.signer === null){
                        return;
                    }

                    this.isLoading = true;

                    // Retrieve ETH balance for user, ETH current price and ETH balance in USD
                    this.ethBalance = await this.contractObj.getUserEthBalance(this.signerAddr);
                    let ethPrice = await this.contractObj.getEthPriceInUsd();
                    console.log('ETH price: ' + ethPrice);
                    this.ethPriceUsd = ethers.utils.formatUnits(ethPrice, this.PRICEDEC);
                    console.log('ETH in USD: ' + this.ethPriceUsd.toString());
                    this.ethBalanceUsd = Number(this.ethPriceUsd) * Number(this.formatBalance(this.ethBalance));

                    // Retrieve LINK balance for user, LINK current price and LINK balance in USD
                    this.linkBalance = await this.contractObj.getUserLinkBalance(this.signerAddr);
                    let linkPrice = await this.contractObj.getLinkPriceInUsd();
                    console.log('LINK price: ' + linkPrice);
                    this.linkPriceUsd = ethers.utils.formatUnits(linkPrice, this.PRICEDEC);
                    console.log('LINK in USD: ' + this.linkPriceUsd.toString());
                    this.linkBalanceUsd = Number(this.linkPriceUsd) * Number(this.formatBalance(this.linkBalance));

                    this.isLoading = false;
                },
                connectMetaMask: async function() {
                    // Prompt user for account connections
                    await this.provider.send("eth_requestAccounts", []);
                    this.signer = this.provider.getSigner();
                    this.signerAddr = await this.signer.getAddress();
                    this.loadBalanceValue();
                },
                depositLink: async function() {
                    let contractLink = new ethers.Contract(this.linkContractAddr, this.linkContractAbi, this.signer); 
                    let self = this;

                    self.isLoading = true;
                    try  {
                        // Approve ATM contract to use the specified amount of LINK token
                        let txRsp = await contractLink.approve(this.contractAddr, this.linkAmount);
                        // Wait until the transaction is processed
                        await txRsp.wait();

                        // Now that we are approved, call ATM depositLink() to transfer the LINK token to the ATM
                        let contractAtm = new ethers.Contract(this.contractAddr, this.contractAbi, this.signer);
                        let depositTxRsp = await contractAtm.depositLink(self.linkAmount);
                        // Wait until the transaction is processed
                        await depositTxRsp.wait();

                        // Refresh the balance
                        await self.loadBalanceValue();
                        self.linkAmount = 0;
                    } catch (error) {
                        self.output.isVisible = true;
                        self.output.message = error;
                    } finally {
                        self.isLoading = false;
                    }
                },
                withdrawLink: async function() {
                    let contractAtm = new ethers.Contract(this.contractAddr, this.contractAbi, this.signer);
                    let self = this;

                    self.isLoading = true;
                    try {
                        // Send the transaction
                        let txRsp = await contractAtm.withdrawLink(this.linkAmount);
                        // Wait until transaction is processed
                        await txRsp.wait();
                        await self.loadBalanceValue();
                        this.linkAmount = 0;
                    } catch(error) {
                        self.output.isVisible = true;
                        self.output.message = error;
                    } finally {
                        self.isLoading = false;
                    }
                },
                depositEth: async function() {
                    let contractAtm = new ethers.Contract(this.contractAddr, this.contractAbi, this.signer);
                    let self = this;

                    self.isLoading = true;
                    try {
                        let txRsp = await contractAtm.depositEth({value: this.ethAmountInWei()});
                        await txRsp.wait();

                        // Refresh the balance
                        await self.loadBalanceValue();
                        self.ethAmount = 0;
                    } catch(error) {
                        self.output.isVisible = true;
                        self.output.message = error;
                    } finally {
                        self.isLoading = false;
                    }
                },
                withdrawEth: async function() {
                    let contractAtm = new ethers.Contract(this.contractAddr, this.contractAbi, this.signer);
                    let self = this;

                    self.isLoading = true;
                    try {
                        let txRsp = await contractAtm.withdrawEth(this.ethAmountInWei());
                        await txRsp.wait();

                        // Refresh the balance
                        await self.loadBalanceValue();
                        this.ethAmount = 0;
                    } catch(error) {
                        self.output.isVisible = true;
                        self.output.message = error;
                    } finally {
                        self.isLoading = false;
                    }
                },
            }

        })
    </script>
</body>

</html>